/* Font */
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body, table, div, p {font-family:'NanumSquare';}

html, body {
max-width: 100%;
overflow-x: hidden;
}

/* TopNavbar */
.navbar{
  border: none;
  border-radius: 0px !important;
  margin: 0px !important;
}

.navbar img{
  height:1.1em;
}

*{margin:0;padding:0;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
#container{
  height:230px;
  margin-top:50px;
}


/* BUTTON 1 */
/* This is a big button for contact us */
.button-1{
  width:140px;
  height:50px;
  border:3px solid #fff;
  text-align:center;
  cursor:pointer;
  position:absolute;
  background: #fff !important;
  color: black !important;
  box-sizing:border-box;
  overflow:hidden;
  left:50%;
  margin: 0 0 0 -70px;
}

/* BUTTON 2 */
/* This is a big button for main page */

.button-2{
  width:140px;
  height:50px;
  border:3px solid #fff;
  float:left;
  text-align:center;
  cursor:pointer;
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  left:50%;
  margin: 0 0 0 -70px;
}
.button-2 a{
  font-size:16px;
  color:#fff;
  text-decoration:none;
  line-height:50px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-2{
  width:140px;
  height:50px;
  left:-140px;
  background:#fff;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
  vertical-align: middle;
}
.button-2:hover .eff-2{
 left:0;
}
.button-2:hover a{
  color:black;
}

/* BUTTON 3 */
/* This is a small button for news page */

.button-3{
  width:100px;
  height:40px;
  border:2px solid #fff;
  float:left;
  text-align:center;
  cursor:pointer;
  position:absolute;
  box-sizing:border-box;
  overflow:hidden;
  left:50%;
  margin: 0 0 0 -50px;
}
.button-3 a{
  font-size:12px;
  color:#fff;
  text-decoration:none;
  line-height:40px;
  transition:all .5s ease;
  z-index:2;
  position:relative;
}
.eff-3{
  width:100px;
  height:40px;
  left:-100px;
  background:#fff;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button-3:hover .eff-3{
 left:0;
}
.button-3:hover a{
  color:black;
}


/*
Main Page
*/
.container-main {
  margin: 0px !important;
  background-color: black !important;
  background-size: cover;
}

.container-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: black;
}

.section-title {
  text-align: center;
  color: white;
}

.planetb-main {
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
}

.titles {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 60%;
  margin: auto;
}

.main-glyphicon {
	color: white;
  font-size: 8em;
  text-align: center;
	padding: 0px;
	margin: 0px;
}

.maintitle {
  color: #272727;
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
  font-weight: lighter;
}
.maintitle-paragraph{
  color: #272727;
  font-size: 1em;
  text-align: center;
  padding-top: 1em;
  max-width: 720px;
  left:50%;
  margin: auto auto 3em auto;
}

.maintitle-dark {
  color: white;
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
  font-weight: lighter;

}
.maintitle-dark-paragraph{
  color: white;
  font-size: 1em;
  text-align: justify;
  max-width: 720px;
  left:50%;
  padding: 1em 1.5em 0em 1.5em;
  margin: auto auto 2em auto;
}

.maintitle-dark-leftsided-header {
  color: white;
  font-size: 2em;
  text-align: left;
  font-weight: lighter;
  font-style:italic;
  font-weight: 400;
  max-width: 720px;
  padding: 1em 0em 0em 0.5em;
  margin: auto auto 1em auto;

    display: block;
    overflow: hidden;
    white-space: nowrap;
}

.maintitle-dark-leftsided-header > span {
    position: relative;
    display: inline-block;
}

.maintitle-dark-leftsided-header > span:before,
.maintitle-dark-leftsided-header > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: white;
}

.maintitle-dark-leftsided-header > span:before {
    right: 100%;
    margin-right: 15px;
}

.maintitle-dark-leftsided-header > span:after {
    left: 100%;
    margin-left: 15px;
}

.maintitle-dark-leftsided-paragraph{
  color: white;
  font-size: 1em;
  text-align: left;
  max-width: 720px;
  padding: 1em 1.5em 0em 1.5em;
  margin: auto auto 4em auto;
}

.maintitle-no-padding {
  color: #272727;
  font-size: 2em;
  text-align: left;
  font-weight: 100;
  max-width: 720px;
  margin:auto;
  padding-bottom: 1em;

}
.maintitle-no-padding-paragraph{
  color: #272727;
  font-size: 1em;
  text-align: justify;
  max-width: 720px;
  left:50%;
  margin: auto;
}

.title-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  @media (max-width: 40em) {
    visibility:hidden;
  }
}
.maintitle-sub {
  color: #cfcfcf;
  font-size: 1.25em;
	font-weight: lighter;
  text-align: center;
}

.subtitle {
  color: white;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
	font-weight: lighter;
}


.thumb {
  display: block;
  overflow: hidden;

  &amp;:after { /* after로 반응형 정사각형 만들기 */
  content: &quot;&quot;;
  display: block;
  padding-bottom: 100%;  }
  .inner { /* 내부에 컨텐츠가 있을 때 추가 */
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.profile {
  margin: 0 !important;
  padding: 0 !important;
  color: white;

}
.profile-img {

  width: 100%;
  display: block; /* Otherwise it keeps some space around baseline */
  min-width: 100%; /* Scale up to fill container width */
  min-height: 100%; /* Scale up to fill container height */
  -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */

  object-fit: cover;

  position:relative;
  float:left;

  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.profile-text {
  position:absolute;
  width:80%;
  top: 50%;
  left: 50%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile:hover .profile-img {
  opacity: 0.3;
}

.profile:hover .profile-text {
  opacity: 1;
}

/* About */
.planetb-about {
}
#ABOUT {
  max-height: 400px !important;
}

/* Research */
.planetb-research {
  background-image: url("/src/images/cosmos.png");
  height:100%;
}

.research-category-box {
}

.research-glyphicon {
  color: #272727;

  font-size: 1.5em;
  text-align: left;
  line-height: 2em;
  margin: 0px;
  padding: 0px !important;
  margin: 0px  !important;
}
.research-glyphicon span {

}

.research-category {
  margin-top: -40px !important;
  color: #272727;
  font-size: 1.5em;
  text-align: center;
  font-weight: lighter;
}

/* Member */
.member {
}

.get-right {
  text-align:right;
}
.advisor-category {
  max-width: 760px;
}

.advisor-category-box {
  color:white;
  text-align: left;
}
.advisor-category-box img{
  width:100%;
  padding-top:1em;
  padding-bottom:2em;
  float:center;
}

/* News */
.list-group-item {
  color: black;
}

.list-group-item-heading {
  font-weight: bold;
}

.planetb-news {
  background: linear-gradient( rgba(4, 31, 48, 1), rgba(4, 31, 48, 0.6) ), url("/src/images/collage.jpg");
  background-position:center top;
  height:100%;
}

.news-category-box {
  color:white;
  text-align: center;
}
.news-category-box img{
  width:15em;
  padding-top:1em;
  padding-bottom:2em;
}
.news-category {
  margin-top: -40px !important;
  color: #272727;
  font-size: 1.5em;
  text-align: center;
  font-weight: lighter;
}

/* contact us */
.contact-us {
  background: #101010;
  height:100%;
}

input.form-control{
    margin: 0;
    vertical-align: bottom;
    width: 100%;
    border: none;
    padding: 0 .9375rem;
    height: 40px;
    letter-spacing: 1px;
    font-size: 1.25rem;
    background: hsla(0,0%,100%,.08);
    border-color:hsla(0,0%,96%,.5);
    border-style: solid;
    color:white;
    -webkit-font-smoothing: antialiased;
}
textarea.form-control{
      resize: none;
      padding: .9375rem;
      margin: 0;
      vertical-align: bottom;
      width: 100%;
      border: none;
      height: 150px;
      letter-spacing: 1px;
      font-size: 1.25rem;
      background: hsla(0,0%,100%,.08);
      border-color:hsla(0,0%,96%,.5);
      border-style: solid;
      color:white;
      -webkit-font-smoothing: antialiased;
}

/* footer */
.planetb-footer {
  background: url("/src/images/cosmos-reverse.png");
  background-position:center center;
  background-repeat: repeat;
  height: 200px;
  padding-top: 70px;
}

.footer-layout{
  text-align: center;

}

/* Particles */

.particles-canvas {
  position: absolute;
  width:100%;
  height: 100%;
}

.particles {
	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
}

.section-about {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  height:100%
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.contact-form {
  margin-left: 10px;
  margin-right: 10px;
}




/*
반응형
*/
.mobile-only {
  display: none;
}

@media screen and (max-width:600px) { /* [start] media query */

.mobile-only {
  display: initial;
}

#planetbmain-subtitle {
  font-size: 1.5em;
}

.maintitle-dark {
  color: white;
  font-size: 2em;
  text-align: center;
  padding-top: 2em;
  font-weight: lighter;

}

/* Research */
.list-group-item-heading,
.list-group-item-text {
  font-size: 1em;
}


} /* [end] media query */
