/* TopNavbar */
.navbar{
  border: none;
  border-radius: 0px !important;
  margin: 0px !important;
}

/*
Main Page
*/
.container-main {
  margin: 0px !important;
  background-color: red !important;
}

.container-section {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: red;
}

.section-title {
  text-align: center;
  color: white;
}

.planetb-main {
  color: white;
  max-height: 100%;
  position: relative;
}

.titles {
  position: absolute;
  top: 0; bottom:0; margin-top:10%; margin-bottom:10%;
  left: 0; right: 0; margin-left:auto; margin-right:auto;
}

.main-glyphicon {
	color: white;
  font-size: 8em;
  text-align: center;
	padding: 0px;
	margin: 0px;
}

.maintitle {
  margin-top: 0px;
  color: white;
  font-size: 6em;
  text-align: center;
}
.maintitle-sub {
  color: #cfcfcf;
  font-size: 1.25em;
	font-weight: lighter;
  text-align: center;
}

.subtitle {
  color: white;
  font-size: 2em;
  margin-top: 1em;
  text-align: center;
	font-weight: lighter;
}
.page-name {
  color: white;
  font-size: 4em;
  margin-top: 1em;
  margin-left: 1em;
}

.thumb {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.profile {
  margin: 0 !important;
  padding: 0 !important;
  color: white;
}
.profile-img {
  width: 100%;
  display: block; /* Otherwise it keeps some space around baseline */
  min-width: 100%; /* Scale up to fill container width */
  min-height: 100%; /* Scale up to fill container height */
  -ms-interpolation-mode: bicubic; /* Scaled images look a bit better in IE now */

  position:relative;
  float:left;

  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.profile-text {
  position:absolute;
  top: 50%;
  left: 50%;
  transition: .5s ease;
  opacity: 0;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.profile:hover .profile-img {
  opacity: 0.3;
}

.profile:hover .profile-text {
  opacity: 1;
}

/* Research */
.planetb-research {

}

.planetb-research h1 {
  color: black;
  font-size: 2em;
  text-align: center;
}

.research-category-box {
  background-color: RGB(255, 255, 255, 1);
  border: 1px solid #cfcfcf;
}

.research-glyphicon {
  color: black;
  font-size: 10em;
  text-align: center;
  margin: 0px;
  padding: 0px !important;
  margin: 0px  !important;
}
.research-glyphicon span {

}

.research-category {
  margin-top: -40px !important;
  color: black;
  font-size: 1.5em;
  text-align: center;
  font-weight: lighter;
}

/* Particles */
.particles {

	background-image:
	radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
	radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
	radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
	radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.section-about {
	background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
